.visible{width: 200px;
    height: 65px;
     background-color: coral;
     overflow: visible;}
     
.scroll{width: 200px;
        height: 65px;
         background-color: coral;
         overflow: scroll;}
         
.auto{width: 200px;
            height: 65px;
             background-color: rgb(133, 80, 255);
             overflow: auto;}
             
.hidden{width: 200px;
                height: 65px;
                 background-color: coral;
                 overflow: hidden;}
                 
 
                     
                     
     