div.relative {position: relative;
    width: 400px;
    height: 200px; 
    border: 3px solid #73AD21;
}
    div.absolute { position: absolute;
        top: 80px;
        left:0px;
        width: 200px; 
        height: 100px;
        border: 6px solid #73AD21;}
        .image-container {
            position: relative;
        }
        /* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color:blue;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 50px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  